<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="OpenGroovesEntities" connectionString="metadata=res://*/OpenGroovesContext.csdl|res://*/OpenGroovesContext.ssdl|res://*/OpenGroovesContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=marriedgeek.com;Initial Catalog=OpenGrooves;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>