<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
    <connectionStrings>
        <add name="OpenGrooves" connectionString="Data Source=marriedgeek.com;Initial Catalog=OpenGrooves;Integrated Security=True" />
        <add name="OpenGroovesEntities" connectionString="metadata=res://*/OpenGroovesContext.csdl|res://*/OpenGroovesContext.ssdl|res://*/OpenGroovesContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=marriedgeek.com;Initial Catalog=OpenGrooves;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>

    <appSettings>
        <add key="ThumbPath" value="/uploads/images/thumbs/" />
        <add key="ThumbSize" value="100" />
        <add key="LargeImagePath" value="/uploads/images/band/" />
        <add key="MediumImagePath" value="/uploads/images/medium/" />
        <add key="AudioPath" value="/uploads/audio/" />
    </appSettings>
    <system.net>
        <mailSettings>
            <smtp from="noreply@opengrooves.com" deliveryMethod="Network">
                <network host="192.168.1.132" userName="system@opengrooves.com" password="rex30638" />
            </smtp>
        </mailSettings>
    </system.net>
  <system.web>
      <membership defaultProvider="SqlProvider">
          <providers>
              <clear />
              <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="OpenGrooves" applicationName="OpenGrooves" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" passwordFormat="Hashed" />
          </providers>
      </membership>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
          <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>
      
    <authentication mode="Forms">
      <forms loginUrl="~/login" timeout="2880" />
    </authentication>

      <!--<authorization>
          <deny users="?" />
      </authorization>-->
      
    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="OpenGrooves.Core.Extensions"/>
        <add namespace="OpenGrooves.Web.Extensions"/>
        <add namespace="OpenGrooves.Web.Models"/>
        <add namespace="OpenGrooves.Web.Areas.Edit.Models"/>
        <add namespace="OpenGrooves.Core.Helpers"/>
      </namespaces>
    </pages>
      <customErrors mode="Off"></customErrors>

      <httpRuntime executionTimeout="110" enable="true" maxRequestLength="20480" />
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEmailService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:65481/EmailService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IEmailService" contract="WcfServices.IEmailService"
                name="BasicHttpBinding_IEmailService" />
        </client>
    </system.serviceModel>
</configuration>

