@{Layout = null;}

<h1>Help us out!</h1>
<script type="text/javascript">    Cufon.replace('h1');</script>
<p>
As we continue development and are getting close to officially launching the OpenGrooves website, we would like to invite members to log in and give the website
a test drive. Once you have registered your account, we will send an email containing information about taking part in the program, including an activation link
to create your password and finalize your account. 
<br /><br />
If you choose to opt-out of the beta test program, we will send you an email when the website is ready for launch, with a similar activation link to create your password. 
</p>