@model OpenGrooves.WebLanding.Models.SignUpModel

<br /><br />

<h1>Thank you</h1>

<p>
    That's all for now. We will be contacting you at @Model.Email in the near future to extend an invitation for our beta tester program. 
    <br /><br />
    Be sure to keep up with OpenGrooves as we progress. We look forward to opening our doors very soon. 
    <br /><br />
    <strong>Blog:</strong> <a href="http://blog.opengrooves.com">blog.opengrooves.com</a>
    <br />
    <strong>Twitter:</strong> <a href="http://twitter.com/opengrooves">&#064;OpenGrooves</a>
</p>


<script type="text/javascript">

    setTimeout(function () {
        document.location.href = 'http://opengrooves.com';
    }, 10000);

</script>