
.autocomplete-w1 { background:url(/content/autocomplete/shadow.png) no-repeat bottom right; position:absolute; top:0px; left:0px; margin:8px 0 0 6px; /* IE6 fix: */ _background:none; _margin:0; }
.autocomplete { width:400px !important; border:1px solid #999; background:#FFF; font-size:11px; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden;  }
.autocomplete .selected { background:#F0F0F0; font-weight:bold; cursor:pointer; }
.autocomplete div { padding:5px; white-space:nowrap; }
.autocomplete strong { color:#3399FF; }
